<div class="row">
  <div class="col-md-4 col-sm-12">
    <aside>
      <div class="cuisine-aside">
      <h2>Cozinha</h2>
        <% @cuisines.each do |cuisine| %>
          <p><%= link_to cuisine.name, cuisine %></p>
        <% end %>
      </div>

      <div class="meal-aside">
        <h2>Tipo de Comida</h2>
        <% @meals.each do |meal| %>
          <p><%= link_to meal.name, meal %></p>
        <% end %>
      </div>
    </aside>
  </div>

  <div class="col-md-4 col-sm-12 latest-recipes">
    <h1>Últimas receitas</h1>
    <%= render @recipes %>
  </div>
 <% if @favorites %>
  <div class="col-md-4 col-sm-12">
    <h2>Receitas favoritas</h2>
    <%= render @favorites %>
  </div>
<% end %>
</div>
