<div class="row">

  <div class="col-md-4 col-sm-12">
    <aside>
      <div class="cuisine-aside">
        <% @cuisines.each do |cuisine| %>
          <%= link_to cuisine.name, cuisine %>
        <% end %>
      </div>

      <div class="meal-aside">
        <% @meals.each do |meal| %>
          <%= link_to meal.name, meal %>
        <% end %>
      </div>
    </aside>
  </div> <div class="col-md-8 col-sm-12">
    <%= render @recipes %>
  </div>

</div>
