<div class="row">
  <%= render 'aside' %>
  <div class="col-md-5 col-sm-12 latest-recipes">
    <h1>Últimas receitas</h1>

    <% @recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'recipe', locals: { recipe: recipe } %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @favorites %>
    <div class="col-md-4 col-sm-12">
      <h1>Receitas favoritas</h1>
      <% @favorites.each do |recipe| %>
      <div class="row">
        <div class="col-md-12">
          <%= render partial: 'recipe', locals: { recipe: recipe } %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>


