<div class="text-center">
  <h1>Pesquisa: <%= @search_recipe if @search_recipe%></h1>
</div>
<div class="dishes padd">
  <div class="container">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <%= render partial: 'recipes/recipe', locals: { recipe: recipe } %>
      <% end %>
    </div>
  </div>
</div>

