<h1>Pesquisa: <%= @search_recipe if @search_recipe%></h1>
<div class="row">
<% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <%= render partial: 'recipes/recipe', locals: { recipe: recipe } %>
    </div>
<% end %>
</div>
