<h1>
<%= @cuisine.name %>
<% if logged_in? && authorize?(current_user) %>
<%= link_to 'Editar', edit_cuisine_path(@cuisine), class: "btn btn-warning" %>
<%= link_to 'Deletar', cuisine_path(@cuisine), method: :delete, class: "btn btn-danger" %>
<% end %>
</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= render(@cuisine.recipes) || t(".empty") %>
  </div>
</div>
