footer {
  margin-top: 2rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer li {
  display: inline;
}

footer span {
  margin-right: 40px;
}

.image-display {
    width: 195px;
    max-width: 195px;
    max-height:195px;
    height: 200px;
}

.image-display img{
    height: 100%;
    width: 100%;
}

.glyphicon {
    font-size: 50px;
}
