<div class="col-md-3 col-sm-12">
  <aside>
    <div class="cuisine-aside">
      <h2>Cozinha</h2>
      <% @cuisines.each do |cuisine| %>
      <p><%= link_to cuisine.name, cuisine %></p>
      <% end %>
    </div>

    <div class="meal-aside">
      <h2>Tipo de Comida</h2>
      <% @meals.each do |meal| %>
      <p><%= link_to meal.name, meal %></p>
      <% end %>
    </div>
  </aside>
</div>
