<div class="container">
  <footer class="footer">

    <div class="row">
      <div class="col-md-12">
        <p> <%= t :app_title %> | Copyright 2017</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <%= link_to fa_stacked_icon("twitter", base: "square-o", class: "fa-2x"),"#" %>
          </li>
          <li>
            <%= link_to fa_stacked_icon("facebook", base: "square-o", class: "fa-2x"), "#" %>
          </li>
        </ul>
      </div>
    </div>

  </footer>
</div>
