<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <% if notice %>
      <p id="notice" class="alert alert-success" role="alert"><%= notice %> </p>
      <% end %>

      <% if alert.present? %>
      <p id="alert" class="alert alert-danger" role="alert"><%= alert %> </p>
      <% end %>
    </div>
  </div>
</div>
