<%= form_tag(search_path, method: "get", class:"navbar-form navbar-left") do %>
  <div class="form-group">
    <%= text_field_tag(:search, nil, placeholder:t(:search), class:"form-control") %>
    <%= submit_tag(t(:search), class:"btn btn-default") %>
  </div>
<% end %>
